<table *ngIf="cupons?.length > 0"
       mat-table [dataSource]="cupons"
       class="table mat-elevation-z8">

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="dataCadastro">
    <th mat-header-cell *matHeaderCellDef>Cadastro</th>
    <td mat-cell *matCellDef="let element"> {{element.dataCadastro | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="dataExpiracao">
    <th mat-header-cell *matHeaderCellDef>Expiração</th>
    <td mat-cell *matCellDef="let element"> {{element.dataExpiracao | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="dataUso">
    <th mat-header-cell *matHeaderCellDef>Uso</th>
    <td mat-cell *matCellDef="let element"> {{element.dataUso | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let element">R$ {{ element.valor | number:'1.2' }} </td>
  </ng-container>

  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef>Situação</th>
    <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editarCupom(element)"
              [disabled]="isExpirado(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deletarCupom(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row *matRowDef="let row; columns: displayedColumns;"
    [class.expirado]="isExpirado(row)"
  ></tr>
</table>

<mat-toolbar *ngIf="!cupons || cupons.length === 0">
  <p>Não há nenhum cupom cadastrado.</p>
</mat-toolbar>

<mat-toolbar>
  <button mat-button (click)="adicionarCupom()">
    <mat-icon>add</mat-icon>
    <span>ADICIONAR CUPOM</span>
  </button>
  <button mat-button (click)="pesquisaAvancada()">
    <mat-icon>search</mat-icon>
    <span>PESQUISA AVANÇADA</span>
  </button>

  <mat-chip-list aria-label="Search">
    <mat-chip
      #chipList
      [selectable]="true"
      [removable]="true"
      *ngFor="let search of searchs"
      (removed)="removeSearch()">
      {{ search }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-toolbar>
